@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Alfa Slab One", serif;
}

body{
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background: rgba(128, 5, 5, 0.975);
}
.flipbook{
    width: 1000px;
    height: 600px;
}
.flipbook  .paginas{
    background: rgb(138, 21, 21);
    color: black;
    font-weight: bold;
    border: none;
}

.flipbook  .paginas small{
    font-style: italic;
    font-weight: lighter;
    opacity: 0.8;
    font-size: 15px;
}

.flipbook .page{
    background: whitesmoke;
    display: flex;
    flex-direction: column;
}